# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Archives and packaged builds
*.ipa
*.xcarchive
*.dSYM
